aioconsole==0.6.2
aiohttp==3.9.0
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.1.0
frozenlist==1.4.0
idna==3.6
installer==0.7.0
multidict==6.0.4
packaging==23.2
pygbag==0.8.4
pyparsing==3.1.1
token-utils==0.1.8
yarl==1.9.3
